/*------------------------------------------------------------------

1. Body
2. Wrapper / #wrapper
3. Blue Sky / #mt-bluesky
4. Sun / #mt-sun
5. Night Sun / #mt-sun2
6. Clouds / #mt-cloud
7. Earth / #mt-base
8. Night / #night
9. Stars / #stars
10. Moon / #moon
11. Pahe Title / #title
12. Hock / #hock
13. Oh / #oh
14. Text / .txt
15. Responsive Start

-------------------------------------------------------------------*/

html{background: #8ab407;}
/* html{background: #1c2401;} */
/*------------------------------------------------------------------
        1. Body
-------------------------------------------------------------------*/
body{margin: 0;}
/*------------------------------------------------------------------
        2. Wrapper / #wrapper
-------------------------------------------------------------------*/
#wrapper{
	height: 969px;
	overflow: hidden;
	min-height: 969px;
	position: relative;
	display:  relative;
}
#mt-cloud,
#mt-bluesky,
#night,
#stars{
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	position:absolute;
}
/*------------------------------------------------------------------
        3. Blue Sky / #mt-bluesky
-------------------------------------------------------------------*/
#mt-bluesky{
	z-index:1;
	background:#fff url(../images/sky.png) repeat-x top left;
}
/*------------------------------------------------------------------
        4. Sun / #mt-sun
-------------------------------------------------------------------*/
#mt-sun{
	top:50%;
	left:45%;
	z-index:2;
	width:150px;
	height:152px;
	position:absolute;
	background:transparent url(../images/sun.png) no-repeat center center;
}
/*------------------------------------------------------------------
        5. Night Sun / #mt-sun2
-------------------------------------------------------------------*/
#mt-sun2{
	top:50%;
	left:45%;
	z-index:2;
	opacity:0;
	width:150px;
	height:152px;
	position:absolute;
	background:transparent url(../images/sun2.png) no-repeat center center;
}
/*------------------------------------------------------------------
        6. Clouds / #mt-cloud
-------------------------------------------------------------------*/
#mt-cloud{
	z-index:3;
	background:transparent url(../images/clouds.png) repeat-x top left;
}
/*------------------------------------------------------------------
        7. Earth / #mt-base
-------------------------------------------------------------------*/
#mt-base{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:232px;
	background:transparent url(../images/ground.png) repeat-x bottom center;
	z-index:3;
}
#base-overlay{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:232px;
	opacity: 0;
	background:transparent url(../images/night-glow.png) repeat-x bottom center;
	z-index:7;
}
/*------------------------------------------------------------------
        8. Night / #night
-------------------------------------------------------------------*/
#night{
	z-index:4;
	opacity:0;
	background-color:#000;
}
/*------------------------------------------------------------------
        9. Stars / #stars
-------------------------------------------------------------------*/
#stars{
	z-index:5;
	opacity:0;
	bottom:200px;
	background:transparent url(../images/stars.png) repeat-x bottom center;
}
#sstar{
	top:10%;
	left:40%;
	z-index:5;
	opacity:0;
	width:126px;
	height:80px;
	position:absolute;
	background:transparent url(../images/shootingstar.png) no-repeat 80px -200px;
}
/*------------------------------------------------------------------
        10. Moon / #moon
-------------------------------------------------------------------*/
#moon{
	top:60%;
	left:45%;
	z-index:6;
	opacity:0;
	width:292px;
	height:292px;
	position:absolute;
	background:transparent url(../images/moon.png) no-repeat center center;
}
/*------------------------------------------------------------------
        11. Pahe Title / #title
-------------------------------------------------------------------*/
#title{
	top: 70%;
	/* top: 100px; */
	z-index: 6;
	opacity: 0;
	left: 54%;
	/* color: #fff; */
	width: 300px;
	position: relative;
	letter-spacing: 10px;
	height: 90px;
	/* font: 97px/120px 'Bangers', cursive; */
}
#title span{
	top: -60px;
	right: 64.8%;
	position: absolute;
	transform: rotate(-19deg);
}

#apple {
	filter:brightness(0.5);
}
#title span:after{
	top: 21px;
	left: 38.5px;
	width: 20px;
	content: "";
	height: 51px;
	position: absolute;
	transform: rotate(19deg);
	background: url('../images/img01.png') no-repeat;
}


/* opacity: 0;
z-index: 7;
left: 34.6%;
bottom: 42%;
color: #96bb06;
word-spacing: 2px;
position: absolute;
letter-spacing: 7px;
transform: rotate(-24deg) translateX(332px) translateY(-18px); */
/*------------------------------------------------------------------
        12. Hock / #hock
-------------------------------------------------------------------*/
#hock{
	top: 37.9%;
	width: 2px;
	z-index: 5;
	opacity: 0;
	left: 47.2%;
	position: absolute;
	background: url('../images/img03.png') repeat-y;
}
#hock:after{
	left: 0;
	width: 3px;
	content: "";
	bottom: 97%;
	height: 148px;
	position: absolute;
	background: url('../images/img02.png') no-repeat;
}
/*------------------------------------------------------------------
        13. Oh / #oh
-------------------------------------------------------------------*/
/* #oh{
	opacity: 0;
	z-index: 7;
	left: 34.6%;
	bottom: 42%;
	color: #96bb06;
	word-spacing: 2px;
	position: absolute;
	letter-spacing: 2px;
	transform: rotate(-19deg) translateX(68px);
	font: 46px/58px 'Bangers', cursive;
} */
#oh {
    opacity: 0;
    z-index: 7;
    left: 34.6%;
    bottom: 42%;
    color: #96bb06;
    word-spacing: 2px;
    position: absolute;
    letter-spacing: 7px;
    transform: rotate(-26deg) translateX(323px) translateY(18px);
    font: 76px/58px
    'Bangers', cursive;
}
.next{
	font: 32px/121px 'Bangers', cursive;
	opacity: 0;
	z-index: 7;
	left: 34.6%;
	bottom: 42%;
	color:#fff;
	word-spacing: 2px;
	position: absolute;
	letter-spacing: 4px;
	transform: rotate(-26deg) translateX(292px) translateY(12px);
}

/*------------------------------------------------------------------
        14. Text / .txt
-------------------------------------------------------------------*/
.txt{
	left: 54%;
	opacity: 0;
	z-index: 7;
	color: #fff;
	width: 380px;
	bottom: 180px;
	color: #f6f6f6;
	position: absolute;
	text-align: center;
	margin: 0 0 0 -290px;
	font: 300 16px/20px 'Poppins', sans-serif;
}
.txt p{
	margin: 0 0 35px;
	letter-spacing: 7px;
	font: 50px/121px 'Bangers', cursive;
}
.btn{
	color: #fff;
	width: 170px;
	padding: 10px;
	border-radius: 5px;
	vertical-align: top;
	background: #96bb06;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font: 16px/20px 'Poppins', sans-serif;
}
/*------------------------------------------------------------------
        15. Responsive Start
-------------------------------------------------------------------*/
@media only screen and (max-width: 1920px){
	#hock{left: 47.25%;}
	#title{top: 77%;}
	#title{left: 50.4%;}
	#oh{left: 36.2%;top: 47%;}
	.next{left: 39.6%;top: 38%;}
}
@media only screen and (max-width: 1900px){
	#hock{left: 47.25%;}
	#title{top: 77%;}
	#title{left: 50.6%;}
	#oh{left: 37.2%;top: 46%;}
	.next{left: 39.6%;top: 38%;}
}
@media only screen and (max-width: 1870px){
	#hock{left: 47.25%;}
	#title{top: 77%;}
	#title{left: 50.6%;}
	#oh{left: 36.2%;top: 45%;}
	.next{top: 37%;left: 39.6%;}
}
@media only screen and (max-width: 1760px){
	#hock{left: 47.35%;}
	#title{left: 50.9%;}
	#oh{top: 49%;left: 35.2%;}
	.next{left: 37.6%;top: 41%;}
}
@media only screen and (max-width: 1680px){
	#wrapper{min-height: 870px;height: 870px;}
	#hock{left: 47.45%; top: 40.9%;}
	#oh{top: 51%;left: 34.2%;}
		#title{left: 51.1%;}
}
@media only screen and (max-width: 1600px){
	#hock{left: 47.6%;}
		#title{left: 51.4%;}
}
@media only screen and (max-width: 1570px){
	#hock{left: 47.7%;}
	#oh{left: 34.2%;top: 51%;}
		#title{left: 51.5%;}
}
@media only screen and (max-width: 1462px){
	#hock{left: 47.85%;}
		#title{left: 51.9%;}
}
@media only screen and (max-width: 1400px){
	#wrapper{min-height: 768px;height: 768px;}
	#hock{left: 48.05%; top: 45.9%;}
	#oh{left: 32.2%;top: 54%;}
	.txt{
		bottom: 127px;
		margin: 0 0 0 -230px;
	}
	.txt p{margin: 0 0 23px;}
	#title{left: 52.4%;}
	.next{left: 32.6%;top: 46%;}
}
@media only screen and (max-width: 1370px){
	#wrapper{min-height: 650px;height: 650px;}
	#hock{left: 48.095%; top: 41.9%;}
	.txt{bottom: 86px;}
	#moon{margin: -60px 0 0;}
	#title{left: 52.6%;}
	.next{left: 33.6%;top: 43%;}
	#oh{left: 31%;font-size: 65px;}
}
@media only screen and (max-width: 1300px){
	#hock{left: 48.2%;}
	.next{left: 33.6%;top: 43%;}
	#oh{left: 31%;font-size: 65px;}
		#title{left: 52.8%;}
}
@media only screen and (max-width: 1240px){
	#hock{left: 48.3%; top: 41.9%;}
		#title{left: 55.1%;}
		.next{left: 31.6%;top: 43%;}
		#oh{left: 29%;font-size: 65px;}
}
@media only screen and (max-width: 1240px){
	#hock{left: 48.4%;}
	.next{left: 31.6%;top: 43%;}
	#oh{left: 29%;font-size: 65px;}
	#title{left: 53.3%;}
}
@media only screen and (max-width: 1180px){
	#hock{left: 48.6%;}
	#title{left: 53.7%;}
	.next{left: 31.6%;top: 43%;}
	#oh{left: 29%;font-size: 65px;}
}
@media only screen and (max-width: 1120px){
	#hock{left: 48.7%;}
		#title{left: 54.1%;}
		.next{left: 31.6%;top: 43%;}
		#oh{left: 29%;font-size: 65px;}
}
@media only screen and (max-width: 1090px){
	#hock{left: 48.9%;}
		#title{left: 54.5%;}
		.next{left: 31.6%;top: 43%;}
		#oh{left: 29%;font-size: 65px;}
}
@media only screen and (max-width: 1030px){
	#hock{left: 49.1%;}
	#title{left: 55.1%;}
	.next{left: 31.6%;top: 43%;}
	#oh{left: 29%;font-size: 65px;}
}
@media only screen and (max-width: 970px){
	#hock{left: 49.3%;}
	#oh{left: 29%;font-size: 65px;}
	.txt{margin: 0 0 0 -210px;}
	#title{left: 55.6%;}
	.next{left: 31.6%;top: 43%;}
}
@media only screen and (max-width: 920px){
	#hock{left: 49.5%;}
	#title{left: 56%;}
	#oh{left: 26%;top: 53%;}
	.next{left: 29.6%;top: 42%;}
}
@media only screen and (max-width: 880px){
	#wrapper{min-height: 1000px;height: 1000px;}
	#hock{left: 49.8%; top: 35.9%;}
	#title{top: 75%;}
	#moon{margin: 0;}
	#oh{left: 20%;top: 48%;}
	.next{left: 26.6%;top: 50%;}
}
@media only screen and (max-width: 835px){
	#hock{left: 50.0%;}
	#title{left: 57.5%;}
}
@media only screen and (max-width: 785px){
	#hock{left: 50.4%; top: 37%;}
	#oh{left: -23%;top: 289px;font-size: 3.7EM;}
	.next{left: -18.4%;top: 22%;font-size:  30px;}
	#title{left: 58.1%;}
}
@media only screen and (max-width: 755px){
	#hock{left: 50.6%;}
	#title{left: 58.6%;}
}
@media only screen and (max-width: 700px){
	#hock{left: 50.9%;}
	#title{left: 59.6%;}
}
@media only screen and (max-width: 670px){
	#wrapper{min-height: 920px;height: 920px;}
	#hock{left: 51.2%; top: 39.9%;}
	#oh{left: -34%;top: 232px;font-size: 50px;}
	.next{left: -35.4%;top: 18%;font-size:  30px;}
	#title{left: 60.1%;}
}
@media only screen and (max-width: 630px){
	#hock{left: 51.6%;}
	#oh{left: -35%;top: 258px;font-size: 64px;}
	.next{left: -34.4%;top: 20%;font-size: 34px;}
	#title{left: 61.1%;}
}
@media only screen and (max-width: 595px){
	#hock{left: 52.0%;}
	#oh{left: -39%;top: 264px;font-size: 50px;}
	.next{left: -40.4%;top: 21%;font-size:  30px;}
	#title{left: 62.1%;}
}
@media only screen and (max-width: 565px){
	#hock{left: 52.4%;}
	#oh{left: -35%;top: 258px;font-size: 50px;}
	.next{left: -35.4%;top: 20%;font-size:  30px;}
	#title{left: 62.9%;}
}
@media only screen and (max-width: 540px){
	#hock{left: 52.8%;}
	#title{left: 64.1%;}
}
@media only screen and (max-width: 510px){
	#hock{left: 53.1%;}
	#title{left: 64.8%;}
}
@media only screen and (max-width: 490px){
	#wrapper{min-height: 840px;height: 840px;}
	#moon{margin: -22px 0 0;}
	#hock{left: 53.6%;}
	#oh{left: -46%;top: 258px;font-size: 50px;}
	.next{left: -43.4%;bottom: 64%;font-size:  30px;}
	#title{left: 66.2%;}
}
@media only screen and (max-width: 469px){
	#hock{left: 54.3%;}
	#oh{left: -47%;top: 210px;font-size: 50px;}
	.next{left: -50.4%;top: 17%;font-size:  30px;}
	#title{left: 67.3%;}
}
@media only screen and (max-width: 430px){
	#hock{left: 54.8%;}
	#oh{left: -51%;top: 238px;font-size: 50px;}
	.next{left: -68.4%;top: 18%;font-size:  30px;}
	#title{left: 68.4%;}
}
@media only screen and (max-width: 415px){
	#hock{left: 55.4%;}
	#oh{left: -68%;top: 224px;font-size: 50px;}
	.txt{margin: 0 0 0 -180px;}
	#title{left: 69.9%;}
}
@media only screen and (max-width: 385px){
	#hock{left: 56.1%;}
	.txt{
		width: 340px;
		bottom: 150px;
		margin: 0 0 0 -170px;
	}
	#title{left: 72.2%;}
}
@media only screen and (max-width: 355px){
	#hock{left: 57.4%;}
	#title{left: 74.4%;}

}
@media only screen and (max-width: 325px){
	#hock{left: 57.8%;}
	#title{left: 75.9%;}
}
